@import 'lib/style';

.outer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $lightGrayColor;
  padding: 8px;
  display: grid;
  grid-template-rows: [notification] 1fr [main-content] minmax(auto, 8fr);
}

.container {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 4px;
  margin-bottom: 4px;
  background: white;
  max-width: 480px;
  border: 1px solid rgba($grayColor, 0.3);
  box-sizing: border-box;
  border-radius: 12px;
  padding-bottom: 16px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 16px 16px 12px 16px;
  justify-content: space-between;
  @include title-text;
  color: $blackColor;
}

.departmentTitle {
  @include title-text;
  color: $blackColor;
  padding: 12px 16px;
}

.toggleButton {
  background: none;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  @include body-medium-text;
  cursor: pointer;

  &:hover {
    background-color: lightgray;
  }
}

.calendarFilter {
  display: block;
  padding: 16px 0 12px 16px;
  @include body-medium-text;
}
