@import 'lib/style';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  align-self: center;
  padding: 16px;
  border-radius: 12px;
  max-width: 480px;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  border: 1px solid rgba($grayColor, 0.3);
}

.message {
  @include body-medium-text;
  display: flex;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 16px;
}

.acknowledge {
  @include body-medium-text;
  border: none;
  background: none;
  cursor: pointer;
}
